body,html{
    height: 100%;
}

.name{
 background-color: rgb(240, 225, 220);;   

 

}

    .b1:hover,
    .b4:hover,
    .b2:hover,
    .b3:hover{
        color:  rgb(27, 29, 31);
    
    }